.background{
    background-color:black;
    color: white;
    margin-top: 80px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navlinks p{
    color: white;
    display: flex;
    gap: 10px;
}